<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot + Thymeleaf + JPA + Bootstrap</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap  -->
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<h2>Spring Boot + Thymeleaf + JPA</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="user : ${users}">
					<tr>
						<td th:text="${user.id}">...</td>
						<td th:text="${user.name}">...</td>
						<td th:text="${user.email}">...</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>